<!doctype html>
<!--<p>
Тук трябва да се направи логин-страница
</p>-->

<html>
<head>
  <meta charset=charset="UTF-8">
</head>
<body>
  <header>
  </header>
  <div class="container-fluid">
    <div class="row justify-content-lg-start" id = "row1">
      <div class="col-lg-3 bg-white">
        <img src="assets/img/logo.jpg" alt="logo">
        <img src="assets/img/logo1.jpg" alt="logo">
      </div>
      <div class="col-lg-7 bg-white">2</div>
      <div class="col-lg-2 align-items-center bg-danger">
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Login</a>
        <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Sign up</a>
      </div>
    </div>
    <div class="row h-100 bg-warning" id = "row2">3</div>
    <div class="row justify-content-lg-center bg-info" id = "row3">
      <div class="col-md-5 offset-md-0,5 bg-white">Info</div>
      <div class="col-md-5 offset-md-1 bg-danger">Login/Sign up fields</div>
    </div>
  </div>
</body>
</html>

