<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-primary shadow" style="height: 70px">
  <a class="navbar-brand" href="#" style="font-size: 20pt" [routerLink]="['/home']">
    <img width="50px" height="50px" src="assets/img/animals.svg"/>
    quackR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline">
      <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success text-light" [routerLink]="'/login'">Log in</button>
        <button type="button" class="btn btn-secondary text-light" [routerLink]="'/register'">Sign up</button>
      </div>
    </form>
  </div>
</nav>
<div style="height: 70px">

</div>

<div class="col-12">
  <div class="text col-6">
    <h2>What is quackR?</h2>
    <br>

    <p>quackR was created to help with the organisation of all types of activities.
      Whether it's organazing small barbeques or massive parites, there's a place for everyone.</p>
    <p>Your ideas and suggestions help us to constantly improve quackR’s features.
      Let us know how we can improve your experience at <b>quackr.gmbh@gmail.com</b></p>
  </div>

  <form ngNativeValidate (ngSubmit)="submitForm()" class="form col-6">


    <h2 class="text-secondary col-6" style="margin-bottom: 30px">Sign up for quackR</h2>

    <div class="form-group">
      <label class="text-dark" for="inputUsername">Username </label>
      <input type="text" maxlength="100" [(ngModel)]="username" autofocus class="form-control" name="inputUsername" id="inputUsername" placeholder="Enter username" required>
      <div style="color: red" *ngIf="invalidUser">A user with this username already exists!</div>
    </div>
    <div class="form-group">
      <label class="text-dark" for="inputPassword">Password</label>
      <input type="password" maxlength="100" [(ngModel)]="password" class="form-control" name="inputPassword" id="inputPassword" placeholder="Password" required>
      <div style="color: red" *ngIf="invalidPassword">The password must be at least 8 symbols long and contain a digit!</div>
    </div>
    <div class="form-group">
      <label class="text-dark" for="inputConfirmPassword">Confirm password</label>
      <input type="password" maxlength="100" [(ngModel)]="confirmPassword" class="form-control" name="inputConfirmPassword" id="inputConfirmPassword" placeholder="Confirm password" required>
      <div style="color: red" *ngIf="passwordsDoNotMatch">Passwords do not match!</div>
    </div>
    <button type="submit" class="btn btn-success text-light">Sign up</button>
  </form>
</div>



<app-footer></app-footer>
