<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-primary shadow" style="height: 70px">
  <a class="navbar-brand" href="#" style="font-size: 20pt" [routerLink]="['/home']">
    <img width="50px" height="50px" src="assets/img/animals.svg"/>
    quackR
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/events/user/'+userId">My events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/visiting/'+userId">Events I'm going to</a>
      </li>
    </ul>
    <div class="dropdown">
      <button class="btn btn-light dropdown-toggle text-secondary" style="width: 160px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{username.toString().slice(0, 10)}}
      </button>
      <div class="dropdown-menu" style="width: 100%;" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item text-dark" [routerLink]="'/edit-user/'+userId">Account settings</a>
        <a class="dropdown-item text-dark" *ngIf="userRoleIsAdmin" [routerLink]="'/admin-menu/'+userId">Admin menu</a>
        <button class="dropdown-item text-danger" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</nav>
<div style="height: 100px"></div>
