<app-header></app-header>

<form ngNativeValidate (ngSubmit)="submitForm()" class="form">
  <div *ngIf="success" class="alert alert-success bg-light text-info" role="alert">
    Changes successfully saved!
  </div>
  <h2 class="text-secondary" style="margin-bottom: 30px">Edit your account</h2>

  <div class="form-group">
    <label class="text-success" for="inputUsername">Username</label>
    <input type="text" maxlength="255" [(ngModel)]="user.username" autofocus class="form-control" name="inputUsername" id="inputUsername" placeholder="Enter username" required>
    <div style="color: red" *ngIf="invalidUser">A user with this username already exists!</div>
  </div>
  <div class="form-group">
    <label class="text-success" for="inputOldPassword">Old password</label>
    <input type="password" maxlength="255" [(ngModel)]="oldPassword" class="form-control" name="inputOldPassword" id="inputOldPassword" placeholder="Old password" required>
    <div style="color: red" *ngIf="invalidOldPassword">The password is invalid!</div>
  </div>
  <div class="form-group">
    <label class="text-success" for="inputPassword">New password</label>
    <input type="password" maxlength="255" [(ngModel)]="password" class="form-control" name="inputPassword" id="inputPassword" placeholder="New password" required>
    <div style="color: red" *ngIf="invalidPassword">The password must be at least 8 sybmols long and contain a digit!</div>
  </div>
  <div class="form-group">
    <label class="text-success" for="inputConfirmPassword">Confirm new password</label>
    <input type="password" [(ngModel)]="confirmPassword" class="form-control" name="inputConfirmPassword" id="inputConfirmPassword" placeholder="Confirm new password" required>
    <div class="text-danger" style="color: red" *ngIf="passwordsDoNotMatch">Passwords do not match!</div>
  </div>

  <button (click)="deleteAccount()" class="btn btn-danger text-light" style="width:45%;">Delete account</button>

  <button type="submit" class="btn btn-success text-white" style="width:45%; float: right;">Save changes</button>
</form>

<div style="margin-bottom: 90px"></div>

<app-footer></app-footer>
